body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  background: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png")
    no-repeat center center/cover;
}
