.mainContainer {
    display: flex;
    background-position: center;
    flex-direction: column;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: linear-gradient(62deg, #ffe8e8 0%, #cdacff 100%);
}

.quiz-description {
    margin-bottom: 10px;
}

.input-name {
    margin-bottom: 20px;
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quiz-card {
    width: 250px;
    margin-top: 20px;
    padding: 10px;
    background-image: url("../../Images/card.png");
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    text-align: center;
}

.quiz-card h4 {
    margin: 10px 0;
}

@media screen and (max-width: 750px) {
    .mainContainer {
        margin: 10px;
    }
}